.float {
  float: left; }

.float {
  float: right; }

.clear {
  clear: both; }

.margin-0 {
  margin: 0px; }

.padding-0 {
  padding: 0px; }

.box1 {
  border: 1px solid 1px solid #c7c7c7;
  width: 400px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  background: yellow; }
  .box1 h2 {
    font-size: 30px;
    margin: 0;
    color: green; }
  .box1 a {
    padding: 10px 10px;
    width: 200px;
    font-size: 16px;
    background-color: orange;
    text-decoration: none; }

.box1 p {
  text-align: justify;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace; }

.box1 a:hover {
  background: #001a00; }

.box2 {
  border: 1px solid 1px solid #c7c7c7;
  width: 400px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  background: green; }
  .box2 h2 {
    font-size: 30px;
    margin: 0;
    color: #000; }
  .box2 a {
    padding: 10px 10px;
    width: 200px;
    font-size: 16px;
    background-color: blue;
    text-decoration: none; }
  .box2 img {
    width: 350px; }
  .box2 a:hover {
    background: #6666ff; }

ul {
  list-style-type: square; }
  ul li {
    padding: 15px; }
  ul li a {
    background: red;
    display: inline-block;
    padding: 10px;
    color: #ffffff; }
  ul li a:hover {
    background: green; }

.box, .greenbox, .yellowbox {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  width: 300px; }

.greenbox, .yellowbox {
  background: green;
  font-family: "Roboto", sans-serif; }

.yellowbox {
  background: yellow; }

.btn, .btn-success, .btn-danger {
  padding: 7px 12px;
  color: #454545;
  border: 1px solid #ddd;
  background: #f5f5f5;
  border-radius: 5px; }

.btn-success {
  background: green;
  color: #fff; }

.btn-danger {
  background: red;
  color: #fff; }

.function {
  background: red;
  border: 1px solid red;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  color: #fff; }

.function:hover {
  background: #ff4d4d;
  background: #ff6600; }

.header {
  background: url(../images/mobile/header.jpg); }

.desktop {
  background: url("../imagesheader.jpg"); }

.mobile {
  background: url("../imagesmobile/header.jpg"); }

.myClass {
  padding: 0px; }

.myClass p {
  font-size: 10px; }

.myClass button {
  font-size: 30px; }

.gap-right-50 {
  margin-right: 50px; }

.class2 {
  padding-left: 70px; }

.class3 {
  margin-left: 70px; }

.myClass2 {
  width: 200px;
  margin: 100px;
  padding: 25px;
  border-radius: 5px;
  background: #000000;
  color: #ffffff; }

.myClass3 {
  width: 200px;
  margin: 100px;
  padding: 25px;
  border-radius: 5px;
  background: #dddddd;
  color: #000000; }

.box-100 {
  width: 100px;
  background: #ff8da1; }

.box-200 {
  width: 200px;
  background: #ff5a77; }

.box-300 {
  width: 300px;
  background: #ff274d; }

.box-400 {
  width: 400px;
  background: #f3002a; }

.gap-left-1 {
  margin-left: 100px; }

.gap-left-2 {
  margin-left: 200px; }

.gap-left-3 {
  margin-left: 300px; }

.gap-left-4 {
  margin-left: 400px; }

.col-md-1 {
  width: 25%; }

.col-md-2 {
  width: 50%; }

.col-md-3 {
  width: 75%; }

.col-md-4 {
  width: 100%; }

.activeDevice {
  background: url(images/banner-desktop.jpg);
  font-size: 50px; }

.activeDevice {
  background: url(images/banner-tablet.jpg);
  font-size: 25px; }

.activeDevice {
  background: url(images/banner-mobile.jpg);
  font-size: 15px; }

.col-md-4 {
  width: 80%; }

.col-md-3 {
  width: 60%; }

.col-md-2 {
  width: 40%; }

.col-md-1 {
  width: 20%; }

.col-md-0 {
  width: 0%; }

body {
  background: red; }
  @media (max-width: 1200px) {
    body {
      background: green; } }
  @media (max-width: 900px) {
    body {
      background: blue; } }
  @media (max-width: 600px) {
    body {
      background: yellow; } }
