// typography

h1{
    font-family: "Roboto", sans-serif;
    color:red;
}

h2{
    font-family: "Roboto", sans-serif;
    color:black;
}

h3{
    font-family: "Roboto", sans-serif;
    color:blue;
}

h4{
    font-family: "Roboto", sans-serif;
    color:blueviolet;
}

h5{
    font-family: "Roboto", sans-serif;
    color:brown;
}
