$color-background:#ffffff;
$color-border:#c7c7c7;
$color-primary:green;
$box-padding:20px;
$box-border: 1px solid $color-border;
$color-black: #000;

$colors:(
    blue-color:blue,
    yellow-color:yellow,
    green-color:green,
);